GEMINI_API_KEY=
GEMINI_VERSION=
GATEWAY_URL=

PORT=

#localhost sẽ đổi thành service-discovery khi deploy lên docker
EUREKA_SERVER_URL=
EUREKA_SERVER_URI=

#localhost sẽ đổi thành zipkin khi deploy lên docker
ZIPKIN_ENDPOINT=
