#Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_SSL=

#RabbitMQ Server
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=

#Keycloak server
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_DB_URL=

#SMTP
SMTP_FROM=
SMTP_PASSWORD=

#Oauth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

#Keycloak users
ADMIN_PASSWORD=
USER_PASSWORD=
MERCHANT_PASSWORD=

#Backend client secret
BACKEND_CLIENT_SECRET=
BACKEND_CLIENT_ID=

#Grafana account
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=

#PostgreSQL
DB_PASSWORD=1

#Zipkin
ZIPKIN_ENDPOINT=

#Service discovery
EUREKA_HOST_NAME=
SERVICE_DISCOVERY_PORT=
EUREKA_SERVER_URL=
EUREKA_SERVER_URI=

#api gateway
API_GATEWAY_PORT=
JWT_ISSUER_URI=
GATEWAY_URL=

#User service
USER_PORT=
USER_SERVICE_DB_URL=
USER_SERVICE_DB_USER=
USER_SERVICE_DB_PASSWORD=
KEYCLOAK_SERVER_URL=
KEYCLOAK_REALM=

#notification service
NOTIFICATION_PORT=
URL=
PASSWORD=

#chat service
CHAT_PORT=
JWT_SECRET_KEY=
CHAT_SERVICE_DB_URL=
CHAT_SERVICE_DB_USER=
CHAT_SERVICE_DB_PASSWORD=

#recommendation service
RECOMMENDATION_PORT=
GEMINI_API_KEY=
GEMINI_VERSION=
