#Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_SSL=

#RabbitMQ Server
RABBITMQ_HOST=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

#Keycloak server
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_DB_URL=

#SMTP
SMTP_FROM=
SMTP_PASSWORD=

#Oauth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

#Keycloak users
ADMIN_PASSWORD=
USER_PASSWORD=
MERCHANT_PASSWORD=

#Backend client secret
BACKEND_CLIENT_SECRET=

#Grafana account
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin