PORT=
EUREKA_SERVER_URL=
ZIPKIN_ENDPOINT=
PRODUCT_SERVICE_DB_URL=
PRODUCT_SERVICE_DB_USER=
PRODUCT_SERVICE_DB_PASSWORD=
GATEWAY_URL=
#RabbitMQ Config
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=