@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-purple: #572af8;
  --color-brand-purpledark: #380cd3;
  --color-brand-green: #29b067;
  --color-brand-orange: #ee4d2d;
  --color-brand-yellow: #ffcf54;
  --color-brand-black: #191720;
  --color-brand-grey: #575363;
  --color-brand-white: #ffffff;
  --color-brand-yellowlight: #fffae3;
  --color-brand-purplelight: #e8e6ed;
  --color-primary: #572af8;
  --color-stroke: #e2e8f0;
  --color-strokedark: #2e3a47;
  --color-boxdark: #ffffff;
  --color-bodydark: #575363;
  --color-gray: #eff4fb;
  --color-meta-1: #ee4d2d;
  --color-meta-3: #29b067;
  --color-meta-5: #572af8;
  --color-meta-6: #380cd3;
  --color-warning: #ffcf54;
  --color-success: #29b067;
  --color-danger: #ee4d2d;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
