PORT=8087

PAYMENT_SERVICE_DB_URL=
PAYMENT_SERVICE_DB_USER=
PAYMENT_SERVICE_DB_PASSWORD=

# Cấu hình Eureka & Zipkin
EUREKA_SERVER_URL=
EUREKA_SERVER_URI=
ZIPKIN_ENDPOINT=

GATEWAY_URL=

# Cấu hình PayOS (Lấy thông tin tại https://my.payos.vn/)
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
