PORT=
EUREKA_SERVER_URL=
ZIPKIN_ENDPOINT=
QUERY_SERVICE_DB_URL=
QUERY_SERVICE_DB_USER=
QUERY_SERVICE_DB_PASSWORD=
OPENROUTESERVICE_API_KEY=
OPENROUTESERVICE_LIST_URL=
OPENROUTESERVICE_URL=
GATEWAY_URL=

#RabbitMQ Config
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=