# Server Port
PORT=

# Eureka Service Discovery
EUREKA_SERVER_URL=

# Distributed Tracing (Zipkin)
ZIPKIN_ENDPOINT=

# MongoDB (Order & Cart database)
MONGO_URI=

# Redis (Caching)
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# API Gateway URL
GATEWAY_URL=
